<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="systemDatabaseConnectionString" connectionString="Data Source=v00egd00001l.lec-admin.dmu.ac.uk;Initial Catalog=p2682700;Persist Security Info=True;User ID=p2682700;Password=nice-password23" providerName="System.Data.SqlClient" />
  </connectionStrings>
	
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>